@(files:List[String])(implicit flash: Flash, request: RequestHeader)

@main("Files") {
<div class="page-header"><h1>Input Files</h1></div>

    <div class="row">
    <div class="col-md-12">
    <div class="list-group">
    @for((fileName,fileID) <- files.view.zipWithIndex) {
        <div class="list-group-item">
            <p class="list-group-item-heading">
                <a href="@(routes.Files.dataset(fileID))">@fileName</a>
            </p>
            <p class="list-group-item-text text-right">
                <a class="" href="@routes.Files.deleteDataset(fileID)">delete</a>
                <a class="btn btn-success" href="@routes.Jobs.runFormGet(fileID)">cluster</a>
            </p>
        </div>
    }
        <div class="list-group-item text-right">
            <a class="btn btn-primary" href="@routes.Files.uploadGet">add file</a>
        </div>
    </div>
    </div>
    </div>

}