@()(implicit flash: Flash, request: RequestHeader)

@main("KMeans") {
    <div class="jumbotron">
    <h1>KMeans</h1>
    <p>Clustering with Akka and Play</p>
    <p><a class="btn btn-primary btn-lg" href="@routes.Jobs.jobs()">start</a></p>
    </div>
}
