@(jobs:List[actors.protocols.Backend.JobMessage], files:List[String])(implicit flash: Flash, request: RequestHeader)

@main("Jobs") {
<div class="page-header"><h1>Jobs</h1></div>
<div class="row">
<div class="col-md-12">

<div class="panel panel-default">
<div class="panel-heading"><big>Running</big></div>

    <table class="table">
      <thead>
        <tr>
          <th>numNodes</th>
          <th>numClusters</th>
          <th>threshold</th>
          <th>zScoreTransform</th>
          <th>inputFile</th>
          <th>outputFile</th>
        </tr>
      </thead>
      <tbody>
    @for(job <- jobs){
        <tr>
            <td>@job.numNodes</td>
            <td>@job.numClusters</td>
            <td>@job.threshold</td>
            <td>@job.zScoreTransform</td>
            <td>@job.inputFilePath.split("/").last</td>
            <td>@job.outputFilePath.split("/").last</td>
        </tr>
    }
      </tbody>
    </table>

    <div class="panel-footer text-right"><a class="btn btn-primary" href="@routes.Files.files">start new job</a></div>
</div>

<div class="panel panel-default">
<div class="panel-heading"><big>Completed</big></div>
    @for((fileName,fileID) <- files.view.zipWithIndex.sortBy( _._2 ).reverse) {
    <div class="list-group-item">
        <p class="list-group-item-heading">
            <a href="@(routes.Files.result(fileID))">@fileName</a>
        </p>
        <p class="list-group-item-text text-right">
            <a class="" href="@routes.Files.deleteResult(fileID)">delete</a>
        </p>
    </div>
    }
</div>
</div>
</div>
}