@(form: Form[(String,String)])(implicit flash: Flash, request: RequestHeader)

@main("Login") {
<div class="page-header"><h1>Sign in</h1></div>
<div class="row">
    <div class="col-md-12">
    <p>Try admin & password</p>
    @helper.form(routes.Auth.loginPost()) {
        @helper.inputText(form("user"))
        @helper.inputPassword(form("password"))
        <button type="submit" class="btn btn-primary">Login</button>
    }
    </div>
</div>
}