@(runForm: Form[RunParameters], inputFileName: String)(implicit flash:Flash, request: RequestHeader)
@main("Run KMeans") {
<div class="page-header">
<h1>Run KMeans <small>@inputFileName</small></h1>
</div>
<div class="row">
    <div class="col-md-12">
@helper.form( action=play.api.mvc.Call(method="POST", url="")) {
    @helper.inputText(runForm("numClusters"))
    @helper.inputText(runForm("threshold"))
    @helper.checkbox(runForm("zTransform"))
    @helper.inputText(runForm("numNodes"))
    <button type="submit" class="btn btn-primary">Run</button>
}
</div>
</div>

}