@(members: List[akka.cluster.Member])(implicit flash: Flash, request: RequestHeader)

@main("Status") {
<div class="page-header"><h1>Akka Cluster Status</h1></div>

    <div class="row">
    <div class="col-md-12">
    <div class="list-group">
    @for(member <- members) {
        <div class="list-group-item">@member</div>
    }
    </div>
    </div>
    </div>

}