@()(implicit flash: Flash, request: RequestHeader)
@main("Upload File") {
<div class="page-header"><h1>Upload File</h1></div>
<div class="row">
    <div class="col-md-12">
    @helper.form(action = routes.Files.uploadPost(), 'enctype -> "multipart/form-data") {
        <p><input type="file" name="file"></p>
        <button type="submit" class="btn btn-primary">upload</button>
    }
    </div>
</div>
}